{% form_theme form 'form_themes/edit_trick_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/add-collection-widget.js') }}"></script>
<script src="{{ asset('js/addIframe.js') }}"></script>
<script>
    function changeImg(e)
    {
        var img = e.closest('.illustrationMiniBox').querySelector('.IllustrationContainer img');
        var url = window.URL.createObjectURL(e.files[0]);
        img.src = url;
    }
</script>
{% endblock %}

{% block body %}
<section id="imageHeader">
{{ form_start(form) }}
    <div class="position-relative">
        <div class="titleContainer position-absolute d-flex flex-column justify-content-center">
            <div id="trickTitleModificationContainer" class="text-center d-flex flex-row justify-content-center">
                <div class="d-flex flex-column justify-content-center mr-3">
                    <span>Nom du trick</span>
                </div>
                <div>
                    {# {{ form_label(form.name) }} #}
                    {{ form_row(form.name) }}
                </div>
            </div>
        </div>
        <div class="arrowPointingDownContainer position-absolute ">
            <img class="arrowPointingDown" src="{{ asset('/img/arrowPointingDown.png') }}" onClick="window.location.href='#illustrationAndVideoContainer';">
        </div>
        <div class="w-100">
            <img class="headerPicture w-100" src="{{ asset('/img/homePageHeader.jpg') }}"></img>
        </div>
    </div>

    <div id="buttonDisplayImgAndVideo" class="justify-content-center m-3">
        <button type="button" class="btn btn-primary" onClick="
                    var mobileMenuDeployement = document.getElementById('illustrationAndVideoContainer');
                    if (mobileMenuDeployement.classList.contains('displayFlex'))
                    {
                        mobileMenuDeployement.classList.remove('displayFlex');
                    }else
                    {
                        mobileMenuDeployement.classList.add('displayFlex');
                    }
                    ">Afficher les images et vidéos</button>
    </div>
    <div id="illustrationAndVideoContainer" class="listIllustrationAndVideo mt-5">
        {{ form_row(form.illustrations) }}
        {{ form_row(form.videos) }}
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="modidyInputContainer d-flex flex-column ">
            <div class="m-3 d-flex flex-column">
                <div>
                    Description du trick : 
                </div>
                <div>
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="m-3">
                    <div>
                        Groupe de trick : 
                    </div>
                    <div>
                        {{ form_widget(form.trickgroup.name,  {
                            'attr': {
                                'list': 'trick_trickgroup_name', 
                                'autocomplete':'off', 
                                }, 
                            'id':''
                            }) }}

                        <datalist id="trick_trickgroup_name" name="trick[trickgroup][name]">
                        {% for trickGroup in trickGroups %}
                            <option value="{{trickGroup.name}}">{{trickGroup.name}}</option>
                        {% endfor %}
                        </datalist>
                    </div>
                </div>
            </div>
            <div>                    
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="m-3">
                            <a role="button" class="btn btn-danger" href="{{ path('deleteTrick',{ 'slug': trick.slug }) }}">supprimer</a>
                        </div>
                        <div class="m-3">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}