{% block _trick_description_row %}
        {{ form_widget(form)}}
{% endblock %}

{% block _trick_description_widget %}
    <textarea id="{{ form.vars.id }}" class="form-control" name="{{ form.vars.full_name }}">{{ form.vars.value }}</textarea>
{% endblock %}

{% block _trick_videos_row %}
        {{ form_widget(form, {
                'attr': {
                    'data-widget-tags': '<div></div>'
                    }
                })}}
{% endblock %}

{% block _trick_videos_widget %}
    {{ form_widget(form)}}
        <button type="button"
        class="add-another-collection-widget btn-primary btn"
        data-list-selector="#trick_videos">Rajouter une vidéo</button>
{% endblock %}

{% block _trick_videos_entry_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _trick_videos_entry_widget %}
<div class="trickVideo videoMiniBox flex-column border border-dark m-3 p-0">
    <div class="w-100 trickMiniBoxVideo">
        {{ form.url.vars.value | raw}}
    </div>
    <div>
        <fieldset class="form-group">
            <div>
                <div class="form-group">
                    <input 
                        type="text" 
                        id="{{ form.url.vars.id }}" 
                        name="{{ form.url.vars.full_name }}" 
                        required="required" 
                        maxlength="1000" 
                        class="form-control" 
                        value="{{ form.url.vars.value }}"
                        onchange="addIframe(
                        document.getElementById('{{ form.url.vars.id }}').value,
                        '{{ form.vars.name }}',
                        this,
                        document.getElementById('{{ form.url.vars.id }}')
                        )"
                        >
                </div>
            </div>
        </fieldset>
    </div>
    <div class="trickMiniBoxTitreAndActionsContainer d-flex flex-row border-top border-dark">
        <div class="text-center w-100 m-3"> 
        </div>
        <div class="m-3">
            <div onclick="addIframe(
                document.getElementById('{{ form.url.vars.id }}').value,
                '{{ form.vars.name }}',
                this,
                document.getElementById('{{ form.url.vars.id }}')
                )">
                <img src="{{ asset('/img/modify.jpg') }}">
            </div>
        </div>
        <div class="m-3">
            <div onclick="this.closest('.videoMiniBox').remove();">
                <img src="{{ asset('/img/delete.jpg') }}">
            </div>
        </div>
    </div>
     <!--
    <script>
        var regExp = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var url = "{{ form.url.vars.value }}";
        var match = url.match(regExp);
        if (match && match[2 src].length == 11) 
        {
            var id = match[2];
            var embedlink = "http://www.youtube.com/embed/" + id;
            var iframe = document.getElementById("video{{ form.vars.name }}");
            iframe.src = embedlink;
        }
    </script>
    --> 
</div>
{% endblock %}

{% block _trick_illustrations_row %}
    {{ form_widget(form, {
                'attr': {
                    'data-widget-tags': '<div></div>'
                    }
                })}}
{% endblock %}

{% block _trick_illustrations_widget %}
    {{ form_widget(form)}}
        <button type="button"
        class="add-another-collection-widget btn-primary btn"
        data-list-selector="#trick_illustrations">Rajouter une image</button>
{% endblock %}

{% block _trick_illustrations_entry_row %}
    {{ form_widget(form)}}
{% endblock %}
é
{% block _trick_illustrations_entry_widget %}
    <div class="illustrationMiniBox flex-column  border border-dark  m-3 p-0">
        <div class="IllustrationContainer w-100">
            <img class="trickMiniBoxPicture w-100" src="{{ form.fileName.vars.value }}">
            <input 
                type="hidden" 
                name="{{ form.fileName.vars.full_name }}" 
                value="{{ form.fileName.vars.value }}"
            >
        </div>
        <div class="d-none">
            {{ form_widget(form.img, {'attr':{'onchange':'changeImg(this)'}}) }}
        </div>
        <div class="trickMiniBoxTitreAndActionsContainer d-flex flex-row border-top border-dark">
            <div class="text-center w-100 m-3"> 
            </div>
            <div class="m-3">
                <label for="{{ form.img.vars.id }}"><img src="{{ asset('/img/modify.jpg') }}"></label>
            </div>
            <div class="m-3">
                <div onclick="this.closest('.illustrationMiniBox').remove();">
                    <img src="{{ asset('/img/delete.jpg') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}